<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Http Requst</title>
    <!-- css bootstrap -->
    <link rel="stylesheet" href="bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <!-- js bootstrap -->
    <script src="bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue@3"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    memes: [],
                }
            },
            methods: {
                getMemes() {
                    axios.get('https://api.imgflip.com/get_memes')
                        .then(response => {
                            console.log(response.data)
                            if (response.data.success == true) {
                                this.memes = response.data.data.memes
                            }
                        })
                        .catch(err => {
                            console.log(err)
                        })
                }
            },
            mounted() {
                this.getMemes()
            },
        })
    </script>
</head>

<body>

    <div id="app" class="container">
        <div class="row">
            <div v-if="memes.length >0">
                <span v-for="meme in memes">
                    <div class="col-lg-4">
                        <img:src="meme.url" alt="">
                    </div>
                </span>
            </div>
        </div>
    </div>


    <script>
        const mountedApp = app.mount("#app")
    </script>
</body>

</html>