/*font*/
@font-face {
    font-family: mylove_reg;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: mylove_bold;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face{
    src: url(../Open_Sans/static/OpenSans/OpenSans-Italic.ttf);
    font-family: mylove_i;
}

/*all of design*/


/*color*/
.maincolor{
    color: black;
}
.customcolor{
    background-color: #f4c2c2;
}

/*nav bar and nav button*/


/*nav bar and nav button end*/
nav img{
    border-radius: 50%;
    border: 5px solid white;
}
nav a {
    font-family: mylove_i;
}


/*nav link*/


.nav-link{
    font-family: mylove_reg;
}
.nav-link:hover{
    text-decoration: underline white;  
}

/* Home design */
.nav-item {
    background-color: #f4c2c2;
}


