/*font*/
@font-face {
    font-family: mylove_reg;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: mylove_bold;
    src: url(../Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
@font-face{
    src: url(../Open_Sans/static/OpenSans/OpenSans-Italic.ttf);
    font-family: mylove_i;
}

/*all of design*/


/*color*/
.maincolor{
    color: black;
}
.customcolor{
    color: white;
}
/*color end*/
body{
    min-width: 100vh;
    background-color:white;
}
/*nav bar and nav button*/
.rounded-pill{
    border-radius: 50%;
}

/*nav bar and nav button end*/
nav a img{
    border-radius: 50%;
    border: 5px solid white;
}
nav a h3{
    font-family: mylove_i;
}


/*nav link*/
.navbar{
    width: 250px;
    height: 100vh;
    position: fixed; 
    background-color: #f4c2c2;
}

.nav-link{
    font-size: 1.25em;
    font-family: mylove_reg;
    text-align: center;
    padding: 25px;
    
}
.nav-link:hover{
    text-decoration: underline;  
}



